extends base

block content
  if errorMessage
    h4= errorMessage
  form(method="POST")
    input(name="name", placeholder="Name", value=user.name, type=text)

    input(name="email", placeholder="Email", value=user.email, type=email)

    input(
      name="username",
      placeholder="Username",
      value=user.username,
      type=text
    )

    input(
      name="location",
      placeholder="Location",
      value=user.location,
      type=text
    )
    input(value="Update Profile", type="submit") 
    if !user.socialOnly
      hr
      a(href="change-password") Change Password &rarr;
