extends ../base

block content
  if errorMessage
    h4= errorMessage
  if user.avatarUrl.includes('http')
    img(src=user.avatarUrl, width="100", height="100")
  else
    img(src='/' + user.avatarUrl, width="100", height="100")

  form(method="POST", enctype="multipart/form-data")
    label(for="avatar") Avatar
    input#avatar(type="file", name="avatar", accept="image/*")
    input(name="name", placeholder="Name", value=user.name, type=text)

    input(name="email", placeholder="Email", value=user.email, type=email)

    input(
      name="username",
      placeholder="Username",
      value=user.username,
      type=text
    )

    input(
      name="location",
      placeholder="Location",
      value=user.location,
      type=text
    )
    input(value="Update Profile", type="submit") 
    if !user.socialOnly
      hr
      a(href="change-password") Change Password &rarr;
